.body-style {
  margin: 0px;
  padding: 0px;
  
}
.nav-bar-container{
display: flex;
justify-content: center;
margin-bottom: 6rem;
}

.nav-bar{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.nav-like{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.nav-link{
 
  font-family: 'Inter', sans-serif;
}

.nav-form{
display: flex;
}

.nav-links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.nav-product-link{
display: flex;
flex-direction: row;
}

.our-product-link{
  margin: 0rem 0.3rem;
}

.nav-select{
  background: none;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.color-white
{
  color: white;
}

.color-blue
{
  color: #437ef7;
}

.btn-primary{
  background-color: rgb(67, 126, 247);
 border: none;
 color: white;
 font-family: 'Inter', sans-serif;
 padding: 1rem 0.9rem;
 border-radius: 0.4rem;
font-weight: bold;
}

.btn-secondary{
  background-color: #2c3444;
 border: none;
 color: white;
 font-family: 'Inter', sans-serif;
 padding: 1rem 0.9rem;
 border-radius: 0.4rem;
font-weight: bold;
}

.nav-btns{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ham-burger{
  display: none;
  flex-direction: row;
}
.ham-icon{
  width: 1.8rem;
}

.header{
  /* background-image: linear-gradient(#0F1724, transparent), url(HeaderBackground.png);
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 35%, rgba(15,23,36,1) 35%, rgba(0,212,255,1) 100%);  */
  background-image:
  linear-gradient(to bottom, #63698a85, #0F1724),
  url(HeaderBackground.png);
  background-size:cover;
  padding-bottom: 5rem;
  /* border-radius:0 0 5% 5%;
  -webkit-border-radius:0 0 5% 5%;
  background:#000;
  min-height:100px; */

  border-bottom-left-radius: 80% 15%;
  border-bottom-right-radius: 80% 15%;
}

.header-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;

  /* background-color: #0F1724; */
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
  /* width: 30%; */
  max-width: 620px;
  text-align: center;
  gap: 1.7rem;
}

.header-heading{
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  width: 80%;
  margin: 0;
}

.primary-font{
  font-family: 'Inter', sans-serif;
}
.header-btn-hldr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}


.page-body{
  padding-left: 3rem;
  padding-right: 3rem;
}

.page-intro-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-intro-body{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.color-gray{
  color: #5F6D7E
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.card{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
}

.card-img{
  width: 2.5rem;
  margin-bottom: 1rem;
}



.flex-row{
  display: flex;
  flex-direction: row;
}

.card-btn{
  width: 1rem;
  height: 1rem;
}

.card-header
{
width: 80%;
align-items: center;
justify-content: center;
column-gap: 0.5rem;
font-weight: 600;
}

.card-heading{
  margin: 0.5rem 0;
}

.card-descr{
  width: 80%;
  height: 25%;
}